// colors
$color-text-main: #8D2B06;
$color-hero-text: #FF8C00;
$color-background-dark: #282828;

// fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Tenor+Sans');

$font-serif: 'Archivo Black', serif;
$font-sans: 'Tenor Sans', sans-serif;
