// colors
$color-text-main: #8D2B06;
$color-hero-text: darken(#E5A048, 10%);
$color-background-dark: #282828;

// fonts
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

$font-serif: 'Arvo', serif;
$font-sans: 'Noto Sans', sans-serif;
