@import 'variables';

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 275px;
  max-width: 480px;
  margin: 25px auto 0 auto;
  font-size: 24px;
  label {
    margin-bottom: 15px;
    text-align: left;
  }
  input {
    height: 36px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    margin-bottom: 20px;
    font-size: 18px;
    padding: 10px;
    background: #DDD;
  }
  textarea {
    border: none;
    border-radius: 3px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    font-size: 18px;
    padding: 10px;
    background: #DDD;
  }
  input:focus, textarea:focus {
    outline:none;
    border-color:$color-accent;
    box-shadow:0 0 24px $color-accent;
  }
}

.emailButton {
  height: 40px;
  width: 150px;
  background: $color-background-dark;
  color: $color-accent;
  font-size: 24px;
  margin: 24px auto 0 auto;
  border: 1px solid #DDD;
  border-radius: 3px;
  transition: all 0.3s;
  &:hover {
    background: lighten($color-background-dark, 10%);
    color: darken($color-accent, 10%);
    cursor: pointer;
    transition: all 0.3s;
  }
  &:active {
    background: $color-accent;
    color: $color-background-dark;
  }
  &:focus {
    outline: 2;
    outline-color: white;
  }
}
