@import '_variables';

.footer {
  background: url('../../../public/images/topo.jpg');
  // background image from https://www.kinddesign.co/
  background-size: cover;
  color: #FFF;
  height: 65px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #FFF;
}

#github {
    background: url('../../../public/images/github-orange.svg');
    height: 60px;
    width: 60px;
    z-index: 3;
  }