.hero {
  min-height: 100vh;
  min-width: 100vw;
  background: url("../../../public/images/woodgrain.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-text {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    color: $color-text-light;
    font-family: $font-secondary;
    font-size: 34px;
    line-height: 1.4;
    margin-bottom: 50px;
    margin-top: 125px;
    padding: 2rem;
    text-align: center;
    width: 75vw;
    -webkit-overflow-scrolling: touch;
  }
  @media screen and (max-width: 480px) {
    .hero-text {
      width: 100vw;
    }
  }
}
