@import '_variables';
#hero {
    min-height: 300px;
    overflow-x: auto;
}

.hero-text {
    width: 75vw;
    font-family: $font-sans;
    color: #FFF;
    font-size: 34px;
    margin-top: 100px;
    line-height: 1.4;
    text-align: center;
    border-radius: 3px;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 50px;
}

.hero {
    min-height: 100vh;
    min-width: 100vw;
    background: url('../../../public/images/woodgrain.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameEmphasis {
    color: $color-accent;
    font-weight: bolder;
}