@import '_variables';

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 150px 0 60px 0;
    -webkit-overflow-scrolling: touch;
}

.content-card {
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    margin: 10px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: #FFF;
    transition:0.5s;
}
.content-card:hover {
    transition: 0.5s;
    transform: scale(1.025);
    z-index: 1;
}

.card-photo {
    width: 300px;
    height: 300px;
    margin-top: 15px;
}

.card-text {
    font-family: $font-sans;
    width: 300px;
    height: 125px;
    background-color: white;
    h3 {
        font-family: $font-sans;
        font-weight: bold;
        color: black;
        padding: 10px;
    }
    p {
        margin-bottom: 15px;
        padding: 10px;
        text-decoration: none;
        color: black;
    }
}

.card-title {
    margin-top: 10px;
    font-size: 1.1em;
    font-weight: bold;
}

.card-links {
    font-family: $font-sans;
    font-weight: bold;
    display: flex;
    width: 100%;
    margin-bottom: 35px;
    justify-content: space-around;
}
