@import "_variables";
#projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 150px 32px 60px 32px;
  -webkit-overflow-scrolling: touch;

  .project-list {
    .project-list__label {
      color: $color-text-light;
      font-family: $font-secondary;
      font-size: 1.5rem;
      margin-left: 0.7rem;
    }

    .project-list__cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 2rem;
    }
  }
}

.content-card {
  background: $color-background-light;
  border-radius: 3px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 38rem;
  margin: 0.75rem;
  padding: 1.5rem;
  transition: 0.5s;

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.card-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  height: 300px;
  width: 300px;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.card-text {
  font-family: $font-secondary;
  max-width: 300px;
  height: 125px;
  background-color: $color-background-light;
  margin-top: 1rem;
  padding: 0 0.5rem;
  h3,
  p {
    font-family: $font-secondary;
    color: $color-text-dark;
    margin: 1rem 0;
  }
  h3 {
    font-size: 1.25rem;
    font-weight: 500 !important;
  }
}

.card-title {
  font-size: 1.1em;
  font-weight: 500 !important;
  margin-top: 10px;
}

.card-links {
  font-family: $font-secondary;
  font-weight: 500 !important;
  font-size: 1.125rem;
  width: 100%;

  a {
    color: $color-links;
    display: block;
    font-weight: 400 !important;
    margin: 1.5rem 0.5rem;
  }

  :visited {
    color: $color-links;
  }
}

@media screen and (max-width: 738px) {
  .project-list {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .project-list__cards {
    flex-direction: column;
    justify-content: center;
  }
}
