/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500|Raleway");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500|Raleway");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500|Raleway");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500|Raleway");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500|Raleway");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500|Raleway");
*, *:before, *:after {
  box-sizing: border-box; }

html {
  background: url("../../../public/images/woodgrain.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%; }

html body {
  min-height: 100%; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 300 !important;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix {
  overflow: auto;
  zoom: 1; }

.textEmphasis {
  color: #FF8C00; }

h3, p {
  line-height: 1.5rem; }

.about {
  padding: 120px 0;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .about .about-text {
    max-width: 80vw;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    color: #FFF;
    margin: 2rem 0; }
    .about .about-text a {
      color: #FF8C00;
      text-decoration: none; }

body {
  min-width: 320px;
  box-sizing: border-box;
  font-size: 16px; }

.contact {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: 120px;
  height: 100vh;
  width: 100vw;
  background: url("../../../public/images/woodgrain.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box; }

.contact-container {
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-size: 2.2em;
  padding: 3rem 2rem;
  text-align: center;
  color: #FFF; }
  .contact-container p {
    line-height: 3rem; }
  @media screen and (max-width: 44rem) {
    .contact-container {
      max-width: 100vw; } }

.contact-label {
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-top: 36px;
  color: #FF8C00; }

.looking {
  color: #FF8C00;
  font-family: "Montserrat", sans-serif; }

.social-icon {
  height: 65px;
  width: 65px;
  margin: 12px; }

#social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px; }

.emailContact {
  margin-top: 3rem; }

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 275px;
  max-width: 480px;
  margin: 25px auto 0 auto;
  font-size: 24px; }
  .contactForm label {
    font-family: "Montserrat", sans-serif;
    font-weight: 400 !important;
    margin-bottom: 15px;
    text-align: left; }
  .contactForm input {
    height: 36px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin-bottom: 2rem;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    background: #DDD; }
  .contactForm textarea {
    border: none;
    border-radius: 3px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.75rem;
    padding: 10px;
    background: #DDD;
    margin-bottom: 1rem; }
  .contactForm input:focus, .contactForm textarea:focus {
    outline: none;
    border-color: #FF8C00;
    box-shadow: 0 0 24px #FF8C00; }

.emailButton {
  height: 40px;
  width: 150px;
  background: #282828;
  color: #FF8C00;
  font-size: 24px;
  margin: 2rem auto 2rem auto;
  border: 1px solid #DDD;
  border-radius: 3px;
  transition: all 0.1s; }
  .emailButton:hover {
    background: #FF8C00;
    box-shadow: 0 0 36px rgba(255, 140, 0, 0.25), 0 10px 10px rgba(255, 140, 0, 0.22);
    color: #282828;
    cursor: pointer;
    transition: all 0.1s; }
  .emailButton:active {
    background: #424242;
    color: #cc7000; }
  .emailButton:focus {
    outline: 2;
    outline-color: #FFF; }

.hero {
  min-height: 100vh;
  min-width: 100vw;
  background: url("../../../public/images/woodgrain.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero .hero-text {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 34px;
    line-height: 1.4;
    margin-bottom: 50px;
    margin-top: 125px;
    padding: 2rem;
    text-align: center;
    width: 75vw;
    -webkit-overflow-scrolling: touch; }
  @media screen and (max-width: 480px) {
    .hero .hero-text {
      width: 100vw; } }

#navBar {
  box-sizing: border-box; }

.navigationHeader {
  display: none; }
  @media screen and (min-width: 44rem) {
    .navigationHeader {
      display: inline-block;
      min-width: 100vw;
      background: url("../../../public/images/topo.jpg");
      background-size: cover;
      position: fixed;
      border-bottom: 2px solid #fff;
      z-index: 10; } }

.navigationLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-width: 120px; }
  .navigationLinks li {
    display: flex; }
  .navigationLinks .nav-link {
    margin: 2rem 1rem;
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    line-height: 1.5;
    color: #FFF; }
  .navigationLinks .nav-link:after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease; }
  .navigationLinks .activeRoute.nav-link:after {
    width: 85%;
    background: #FF8C00; }

#mobileMenuExpanded {
  display: none;
  min-height: 100px;
  min-width: 100vw;
  background: url("../../../public/images/topo.jpg");
  background-size: cover;
  position: fixed;
  border-bottom: 2px solid #fff;
  z-index: 10; }
  @media screen and (min-width: 700px) {
    #mobileMenuExpanded {
      display: none; } }
  #mobileMenuExpanded .mobileMenuLinks li {
    padding: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    line-height: 1.5;
    color: #FFF; }
  #mobileMenuExpanded .mobileMenuLinks li:after {
    content: "";
    display: block;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease; }
  #mobileMenuExpanded .mobileMenuLinks .activeRoute .nav-link:after {
    width: 50%;
    background: #FF8C00; }
  #mobileMenuExpanded .mobileMenuLinks .nav-link {
    min-height: 40px;
    width: 50vw; }
  #mobileMenuExpanded #closeButton {
    color: #FF8C00;
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    right: 0;
    top: 15px;
    display: inline-block; }

.mobileMenuHeader {
  background: url("../../../public/images/topo.jpg");
  background-size: cover;
  position: fixed;
  height: 120px;
  border-bottom: 1px solid #fff;
  width: 100vw;
  display: flex;
  flex-direction: row;
  z-index: 4; }
  @media screen and (min-width: 44em) {
    .mobileMenuHeader {
      display: none; } }

#mobileMenuIcon {
  height: 100px;
  width: 200px;
  background-position: center;
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: 25px; }

#menuText {
  font-family: "Montserrat", sans-serif;
  color: #FFF;
  font-size: 2em;
  margin-right: 30px;
  position: relative;
  bottom: 10px;
  right: -15px; }

#projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 150px 32px 60px 32px;
  -webkit-overflow-scrolling: touch; }
  #projects .project-list .project-list__label {
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    margin-left: 0.7rem; }
  #projects .project-list .project-list__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2rem; }

.content-card {
  background: #FFF;
  border-radius: 3px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 38rem;
  margin: 0.75rem;
  padding: 1.5rem;
  transition: 0.5s; }
  .content-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.card-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  height: 300px;
  width: 300px; }
  .card-photo img {
    max-height: 100%;
    max-width: 100%; }

.card-text {
  font-family: "Montserrat", sans-serif;
  max-width: 300px;
  height: 125px;
  background-color: #FFF;
  margin-top: 1rem;
  padding: 0 0.5rem; }
  .card-text h3,
  .card-text p {
    font-family: "Montserrat", sans-serif;
    color: #000;
    margin: 1rem 0; }
  .card-text h3 {
    font-size: 1.25rem;
    font-weight: 500 !important; }

.card-title {
  font-size: 1.1em;
  font-weight: 500 !important;
  margin-top: 10px; }

.card-links {
  font-family: "Montserrat", sans-serif;
  font-weight: 500 !important;
  font-size: 1.125rem;
  width: 100%; }
  .card-links a {
    color: #0971B2;
    display: block;
    font-weight: 400 !important;
    margin: 1.5rem 0.5rem; }
  .card-links :visited {
    color: #0971B2; }

@media screen and (max-width: 738px) {
  .project-list {
    display: flex;
    align-items: center;
    flex-direction: column; }

  .project-list__cards {
    flex-direction: column;
    justify-content: center; } }

/*# sourceMappingURL=index.css.map */
