/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Noto+Serif");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black");
@import url("https://fonts.googleapis.com/css?family=Tenor+Sans");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black");
@import url("https://fonts.googleapis.com/css?family=Tenor+Sans");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black");
@import url("https://fonts.googleapis.com/css?family=Tenor+Sans");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black");
@import url("https://fonts.googleapis.com/css?family=Tenor+Sans");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black");
@import url("https://fonts.googleapis.com/css?family=Tenor+Sans");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black");
@import url("https://fonts.googleapis.com/css?family=Tenor+Sans");
*, *:before, *:after {
  box-sizing: border-box; }

html {
  background: url("../../../public/images/woodgrain.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%; }

html body {
  min-height: 100%; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix {
  overflow: auto;
  zoom: 1; }

#hero {
  min-height: 300px; }

.hero-text {
  width: 75vw;
  font-family: "Tenor Sans", sans-serif;
  color: #FFF;
  font-size: 34px;
  margin-top: 125px;
  line-height: 1.4;
  text-align: center;
  border-radius: 3px;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 50px; }

.hero {
  min-height: 100vh;
  min-width: 100vw;
  background: url("../../../public/images/woodgrain.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center; }

.nameEmphasis {
  color: #FF8C00;
  font-weight: bolder; }

#navBar {
  box-sizing: border-box; }

.navigationHeader {
  display: none; }
  @media screen and (min-width: 44em) {
    .navigationHeader {
      display: inline-block;
      min-height: 100px;
      min-width: 100vw;
      background: url("../../../public/images/topo.jpg");
      background-size: cover;
      position: fixed;
      border-bottom: 2px solid #FFF;
      z-index: 10; } }

.navigationLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-width: 120px;
  min-height: 100px; }
  .navigationLinks li {
    padding: 0 15px 0 15px;
    margin-top: 30px;
    font-family: "Tenor Sans", sans-serif;
    font-size: 2em;
    line-height: 1.5;
    color: white; }
  .navigationLinks li:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease; }
  .navigationLinks li:hover:after {
    width: 85%;
    background: #FF8C00; }
  .navigationLinks .nav-link {
    min-height: 80px; }

#mobileMenuExpanded {
  display: none;
  min-height: 100px;
  min-width: 100vw;
  background: url("../../../public/images/topo.jpg");
  background-size: cover;
  position: fixed;
  border-bottom: 2px solid #FFF;
  z-index: 10; }
  @media screen and (min-width: 700px) {
    #mobileMenuExpanded {
      display: none; } }
  #mobileMenuExpanded .mobileMenuLinks li {
    padding: 5px;
    font-family: "Tenor Sans", sans-serif;
    font-size: 2em;
    line-height: 1.5;
    color: white; }
  #mobileMenuExpanded .mobileMenuLinks li:after {
    content: '';
    display: block;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease; }
  #mobileMenuExpanded .mobileMenuLinks li:hover:after {
    width: 80%;
    background: #FF8C00; }
  #mobileMenuExpanded .mobileMenuLinks .nav-link {
    min-height: 40px;
    width: 50vw; }
  #mobileMenuExpanded #closeButton {
    color: #FF8C00;
    font-size: 2em;
    font-family: "Tenor Sans", sans-serif;
    position: absolute;
    right: 0;
    top: 15px;
    display: inline-block; }

.mobileMenuHeader {
  background: url("../../../public/images/topo.jpg");
  background-size: cover;
  position: fixed;
  height: 100px;
  border-bottom: 1px solid #FFF;
  width: 100vw;
  display: flex;
  flex-direction: row;
  z-index: 4; }
  @media screen and (min-width: 44em) {
    .mobileMenuHeader {
      display: none; } }

#mobileMenuIcon {
  height: 100px;
  width: 200px;
  background-position: center;
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: 25px; }

#menuText {
  font-family: "Tenor Sans", sans-serif;
  color: #FFF;
  font-size: 2em;
  margin-right: 30px;
  position: relative;
  bottom: 10px;
  right: -15px; }

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 150px 0 60px 0;
  -webkit-overflow-scrolling: touch; }

.content-card {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 500px;
  margin: 10px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: #FFF;
  transition: 0.5s; }

.content-card:hover {
  transition: 0.5s;
  transform: scale(1.025);
  z-index: 1; }

.card-photo {
  width: 300px;
  height: 300px;
  margin-top: 15px; }

.card-text {
  font-family: "Tenor Sans", sans-serif;
  width: 300px;
  height: 125px;
  background-color: white; }
  .card-text h3 {
    font-family: "Tenor Sans", sans-serif;
    font-weight: bold;
    color: black;
    padding: 10px; }
  .card-text p {
    margin-bottom: 15px;
    padding: 10px;
    text-decoration: none;
    color: black; }

.card-title {
  margin-top: 10px;
  font-size: 1.1em;
  font-weight: bold; }

.card-links {
  font-family: "Tenor Sans", sans-serif;
  font-weight: bold;
  display: flex;
  width: 100%;
  margin-bottom: 35px;
  justify-content: space-around; }

.contact {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: 125px;
  height: 100vh;
  width: 100vw;
  background: url("../../../public/images/woodgrain.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box; }

.contact-container {
  line-height: 1.2;
  font-family: "Tenor Sans", sans-serif;
  font-size: 2.2em;
  padding: 20px;
  text-align: center;
  margin-top: 8px;
  color: white; }

.contact-label {
  font-family: "Archivo Black", serif;
  text-align: center;
  margin-top: 36px;
  color: #FF8C00; }

.looking {
  color: #FF8C00;
  font-family: "Tenor Sans", sans-serif; }

.social-icon {
  height: 65px;
  width: 65px;
  margin: 12px; }

#social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px; }

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 275px;
  max-width: 480px;
  margin: 25px auto 0 auto;
  font-size: 24px; }
  .contactForm label {
    margin-bottom: 15px;
    text-align: left; }
  .contactForm input {
    height: 36px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin-bottom: 20px;
    font-size: 18px;
    padding: 10px;
    background: #DDD; }
  .contactForm textarea {
    border: none;
    border-radius: 3px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    font-size: 18px;
    padding: 10px;
    background: #DDD; }
  .contactForm input:focus, .contactForm textarea:focus {
    outline: none;
    border-color: #FF8C00;
    box-shadow: 0 0 24px #FF8C00; }

.emailButton {
  height: 40px;
  width: 150px;
  background: #282828;
  color: #FF8C00;
  font-size: 24px;
  margin: 24px auto 0 auto;
  border: 1px solid #DDD;
  border-radius: 3px;
  transition: all 0.3s; }
  .emailButton:hover {
    background: #424242;
    color: #cc7000;
    cursor: pointer;
    transition: all 0.3s; }
  .emailButton:active {
    background: #FF8C00;
    color: #282828; }
  .emailButton:focus {
    outline: 2;
    outline-color: white; }

body {
  min-width: 320px;
  box-sizing: border-box; }

/*# sourceMappingURL=index.css.map */
